p{
    
/* position: absolute; */
width: 646px;
height: 20px;
left: 81px;
top: 561px;

font-family: 'Omnes', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 190%;
/* identical to box height, or 36px */

letter-spacing: 0.01em;

color: #123444;
   
}

input{
    box-sizing: border-box;

/* position: absolute;
width: 1006.96px;
height: 77px; */
left: 202.01px;
top: 1053px;
height: 35px;
background: rgb(255, 255, 255);
border: 2px solid #3CA899;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px 2px 4px rgba(0, 0, 0, 0.15);
border-radius: 45px;
}

textarea{
    
box-sizing: fixed;

/* position: absolute;
width: 1000px;
height: 277px; */
line-height:170%;
height: 90px;
left: 209px;
top: 1380px;
resize: none;
background: rgb(255, 255, 255);
border: 2px solid #3CA899;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

button{
    /* position: absolute; */
width: 150px;
height: 40px;
left: 572.94px;
top: 15px;

background: #3ca89ae4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 45px;
border-style: none;

font-family: 'Omnes', sans-serif;
font-style: normal; 
font-weight: 700;
font-size: 15px; 
line-height: 99.02%;
cursor: pointer;

/* identical to box height, or 36px */

letter-spacing: 0.01em;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
} 

button:hover{
    /* background-color:red; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 30px 60px rgba(23, 0, 102, 0.1),
    inset 0px 0px 0px 0.1px rgba(255, 255, 255, 0.9);
    transform:translateY(-0.5px);
    background-color: rgba(60, 168, 154, 1.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* :hover { */
    /* x,y,blur */
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 30px 60px rgba(23, 0, 102, 0.5),
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.5);
    transform:translateY(-3px); */

    /* animate icon as well */
    /* .icon{
      transform: scale(1.2);
    }
  } */

label{
    font-family: 'Omnes', sans-serif;
    font-size: 15px;
}